body,div {
	padding:0;
	margin:0;
}

.frame {
	text-align:center;
}

#game-info {
	width:18.7%;
	height:220px/*;border:1px red solid*/;
	float:left;
	margin-top: 10;
	margin-left:3%;
}/*overflow:hidden;zoom:1;是清除浮动的意思；*/

#court-chart {
	width:18.7%;
	height:420px;
	border:2px black solid;
	float:left;
	position:relative;
	top:-100px;
    margin-top: 10;
	margin-left:3%;

	background-image: url(../img/court.jpg);
	background-size:100% 100%;
}


#player-stream {
	width:72%;
	height:320px/*;border:1px blue solid*/;
	float:left;
	margin-top: 10;
	margin-left:3%;
}

#game-clock {
	width:72%;
	height:320px/*;border:1px purple solid*/;
	float:left;
    margin-top: 10;
	margin-left:3%;
}

.title {
	text-align:center;
}

.score {
	text-align:center;
	margin-top:10px;
}

.time {
	text-align:center;
	margin-top:10px;
}
.axis path {
        fill: none;
	stroke: gray;
        stroke-width: 5px;
        shape-rendering: crispEdges;
}
            
.axis text {
        font-family: sans-serif;
        font-size: 11px;
}
