body,div {
	padding:0;
	margin:0;
}

.frame {
	text-align:center;
}

#game-info {
	width:18.7%;
	height:200px/*;border:1px red solid*/;
	float:left;
	margin-left:4.15%;
	margin-top: 3%;
}/*overflow:hidden;zoom:1;是清除浮动的意思；*/

#player-stream {
	width:72%;
	height:300px/*;border:1px blue solid*/;
	float:left;
	margin-left:5%;
	margin-top: 3%;
}

#court-chart {
	width:18.7%;
	height:400px;
	border:1px green solid;
	float:left;
	position:relative;
	top:-120px;
	margin-left:4.15%;

	background-image: url(../img/court.png);
	background-size:100% 100%;
}

#game-clock {
	width:72%;
	height:300px/*;border:1px purple solid*/;
	float:left;
	margin-left:5%;
}

.title {
	text-align:center;
}

.score {
	text-align:center;
	margin-top:10px;
}

.time {
	text-align:center;
	margin-top:10px;
}
.axis path {
        fill: none;
	stroke: gray;
        stroke-width: 5px;
        shape-rendering: crispEdges;
}
            
.axis text {
        font-family: sans-serif;
        font-size: 11px;
}
