{% extends "base.html" %}

{% block title %}courtChart{% endblock %}

{% block head %}
{{ super() }}
<style>
	svg {
	        background-image: url(static/img/court.png);
	        background-size: cover;
	}
</style>
{% endblock %}

{% block page_content %}
<pre>
	<span id="game"></span>
	<span id="hPlay"></span>
	<span id="vPlay"></span>
</pre>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('static',filename='js/lib/d3.js')}}"></script>
<script src="{{url_for('static',filename='js/courtChart.js')}}"></script>
{% endblock %}

