{% extends "base.html" %}

{% block title %}Game View{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/game-view.css')}}">
{% endblock %}

{% block content %}
<div class="frame">
	<div class="div1">
		<div class="title">
			<img id='home' src="?" height= 40% width=40% />
			<font size="3" font-family="Arial">VS</font>
			<img id='away' src="?" height= 40% width=40% />
		</div>
		<div class="score">
			<font id='score' size="5" font-family="Arial">5 6 : 4 4</font>	
		</div>
		<div class="time">
			<font id='competenceTime' size="4" font-family="Arial">25, Sept, 2016</font>	
		</div>
	</div>
	<div class="div2" id="id1">
		<svg id="stream-svg">
			<defs>
			</defs>
		</svg>
	</div>
	<div class="div3" id="id2">
		<svg id="courtChart-svg">
		</svg>
	</div>
	<div class="div4" id="id3">
		<svg id="gameclock-svg">
		</svg>	
	</div>
</div>
    <script>
    	var score = {'GSW':'104 : 108',
    				 'PHX':'130 : 99',
    				 'DEN':'111 : 94',
    				 'MIL':'109 : 95',
    				 'HOU':'97 : 107',
    				 'OKC':'99 : 100',
    				 'LAL':'94 : 84',
    				 'UTA':'109 : 104',
    				 'WAS':'91 : 103',
    				 'PHI':'130 : 99'}

    	var filename = "{{ url_for('static', filename = 'data/player-stream/blank.csv')}}"
    	filename = filename.replace("blank", '{{ name }}')
    	var courtChartFile = "{{ url_for('static', filename = 'data/court-chart/') }}"
    	data = filename.replace('.csv','').split(' ')
    	src = "{{ url_for('static', filename = 'img/team-logo/MIA_logo.svg') }}"

    	home_src = src.replace("MIA",data[2])
    	away_src = src.replace("MIA",data[4])
	    document.getElementById('home').src=home_src
    	document.getElementById('away').src=away_src
    	
    	date = data[0].split('/')
    	document.getElementById('competenceTime').innerHTML=date[4]
    	document.getElementById('score').innerHTML=score[data[4]]
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/lib/d3.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/lib/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/game-clock.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/player-stream.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/court-chart.js') }}"></script>
{% endblock %}
